
/***************
 ** Functions **
 ***************/

 @function mob($target) {
    $vw-context: (375 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
  }
  
  @function tab($target) {
    $vw-context: (780 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
  }
  
  @function des($target) {
    $vw-context: (1080 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
  }
  
  /*******************
   ** Media Queries **
   *******************/
  
  $mq-screen: "screen";
  $mq-small: "screen and (min-width: 768px)";
  $mq-medium: "screen and (min-width: 780px)";
  $mq-large: "screen and (min-width: 1080px)";
  $mq-largest: "screen and (min-width: 1760px)";
  

// Variables
$Audio: 'Audiowide', cursive;
$BST: 'Big Shoulders Text', cursive;
$BS: 'Bungee Shade', cursive;
$JBM: 'JetBrains Mono', cursive;
$Mono: 'Monoton', cursive;
$Orb: 'Orbitron', cursive;
$Poiret: 'Poiret One', cursive;
$Press: 'Press Start 2P', cursive;
$Unica: 'Unica One', cursive;
$VT: 'VT323', cursive;