
/***************
 ** Functions **
 ***************/

 @function mob($target) {
    $vw-context: (375 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
  }
  
  @function tab($target) {
    $vw-context: (780 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
  }
  
  @function des($target) {
    $vw-context: (1080 * 0.01) * 1px;
    @return ($target / $vw-context) * 1vw;
  }
  
  /*******************
   ** Media Queries **
   *******************/
  
  $mq-screen: "screen";
  $mq-small: "screen and (min-width: 375px)";
  $mq-medium: "screen and (min-width: 768px)";
  $mq-large: "screen and (min-width: 1024px)";
  $mq-largest: "screen and (min-width: 1440px)";
  

// Variables
$Iceland: 'Iceland', sans-sarif;